body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #CC3333;
}


header {
  width: 100vw;
  height: 45vh;
  padding: 0;
  margin: 0;
}

#title {
  width: 40vw;
  padding: 0;
  margin-top: 5vh;
  margin-left: 10vw;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}


#information{
  width: 80vw;
  margin: auto;
}

#author {
  width: 25vw;
}

#author p {
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

#author .name {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

#serves {
  width: 15vw;
  margin-top: 2vh;
  font-weight: lighter;
}

#prep_minutes {
  font-weight: lighter;
}

#ingredients {
  width: 80vw;
  margin: 0 auto;
  margin-top: 5vh;
  font-style: normal;
  font-weight: normal;
  style: none;
}

#ingredients td {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #000;
}

#steps {
  width: 80vw;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  text-align: left;
  color: #000;
}

.name-header {
  margin-bottom: 5vh;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #CC3333;
}

/***********************************/
/*          Index style            */
/***********************************/

#recipe-list {
  width: 80vw;
  list-style-type: none;
}

a {
  width: 50vw;
  text-decoration: none;
  text-align: center;
  color: #000;
}

#recipe-list li {
  height: 8vh;
  margin: 2.5vh auto;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background-color: #CC3333;
}

#recipe-list p {
  width: 90%;
  margin: auto;
  font-weight: bold;
  color: #FFF;
}
