body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #CC3333;
}


header {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items:  center;
  padding: 0;
  margin: 0;
}

#title {
  width: 50vw;
  /* height: 15vh; */
  padding: 0;
  /* margin-top: 2.5vh; */
  margin-left: 10vw;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}

#home-icon {
  width: 10vw;
  height: 6.25vh;
  /* margin-top: 5vh; */
  margin-right: 10vw;
}

#home-icon img {
  width: 100%;
  height: 100%;
}

.recipe-image {
  width: 100vw;
  height: 42vh;
  margin-top: 5vh;
  display: inline;
}

#information {
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10vw;
}

#author {
  width: 30vw;
}

#author p {
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

#author .name {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

#serves {
  width: 15vw;
  margin-top: 2vh;
  font-weight: lighter;
}

#prep_minutes {
  font-weight: lighter;
}

#ingredients {
  width: 80vw;
  margin: 0 auto;
  margin-top: 5vh;
  font-style: normal;
  font-weight: normal;
  style: none;
}

#ingredients td {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #000;
}

#steps {
  width: 80vw;
  margin: 0 auto;
  margin-top: 5vh;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: lighter;
  text-align: left;
  color: #000;
}

.name-header {
  margin-bottom: 5vh;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #CC3333;
}
