/***********************************/
/*          Body Styling           */
/***********************************/

body, html {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 3.5vmin;
  color: #CC3333;
}

/***********************************/
/*          Nav Bar Styling        */
/***********************************/

header {
  width: 100vw;
  height: 12vh;
  padding: 0;
  margin: 0;
}

#nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  /* position: static;
  left: 0;
  top: 0; */
  justify-content: flex-end;
  background-color: #CC3333;
}

#home-icon {
  width: 8vw;
  height: 8vw;
  margin: auto 0;
  margin-right: 8vw;
}

#home-icon img {
  width: 100%;
  height: 100%;
}

/***********************************/
/*          Recipe Styling         */
/***********************************/

#title {
  width: 80vw;
  padding: 0;
  margin-left: 10vw;
  margin-top: 2.5vh;
  font-family: 'Oswald', sans-serif;
  font-size: 8vmin;
  font-weight: bold;
  text-align: center;
}

#home-icon {
  width: 8vw;
  padding: 0;
  margin-right: 10vw;
}

.recipe-image {
  width: 100vw;
  height: 42vh;
  padding: 0;
  margin-top: 2.5vh;
  display: inline;
}

#information {
  width: 100vw;
  padding: 0;
  margin-top: 2.5vh;
  margin-left: 10vw;
}

#author {
  width: 100vw;
}

#author p {
  font-weight: lighter;
  padding: 0;
  margin: 0;
}

#author .name {
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

#serves {
  width: 100vw;
  padding: 0;
  margin-top: 2vh;
  font-weight: lighter;
}

#prep_minutes {
  padding: 0;
  font-weight: lighter;
}

#ingredients {
  width: 80vw;
  height: auto;
  padding: 0;
  margin: 0 auto;
  margin-top: 2.5vh;
  font-style: normal;
  font-weight: normal;
  style: none;
}

#ingredients td {
  padding: 0;
  font-size: 3.5vmin;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  color: #000;
}

#steps {
  width: 80vw;
  padding: 0;
  margin: 0 auto;
  margin-top: 2.5vh;
  text-align: center;
  font-size: 3.5vmin;
  font-style: normal;
  font-weight: lighter;
  text-align: left;
  color: #000;
}

.name-header {
  margin-bottom: 2.5vh;
  font-family: 'Oswald', sans-serif;
  font-size: 8vmin;
  font-weight: bolder;
  color: #CC3333;
}

/***********************************/
/*          Index Styling          */
/***********************************/

#recipe-list {
  width: 80vw;
  list-style-type: none;
}

a {
  width: 50vw;
  text-decoration: none;
  text-align: center;
  color: #000;
}

#recipe-list li {
  height: 8vh;
  margin: 2.5vh auto;
  display: flex;
  align-items: center;
  border-radius: .5rem;
  background-color: #CC3333;
}

#recipe-list p {
  width: 90%;
  margin: auto;
  font-weight: bold;
  color: #FFF;
}

/***********************************/
/*       Back To Top Styling       */
/***********************************/

#back-to-top {
  width: 6vw;
  height: 6vw;
  padding: 0;
  position: fixed;
  right: 2vw;
  top: 96.25vh;
  border-radius: 50%;
  background-color: #CC3333;
}
